body {
    padding: 2px 0px 2px 8px;
}

.tbwidgets {
	table-layout: fixed;
}

th,
td {
	padding: 2px 2px 2px 0px;
}

.icon {
	width: 16px;
	height: 16px;
}

a {
	text-decoration: none;
}

#divOptimizedPanel {
	position: relative;
	z-index: 100;
}